* {
    font-family: Verdana, sans-serif;
}

.main-title {
    background-color: aquamarine;
    color: black;
    text-align: center;
    font-size: 50px;
}

.cake-link, .chicken-link, .salad-link {
    background-color: lightgray;
    list-style: none;
    font-size: 25px;
    height: auto;
    width: 650px;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid black;
    display: inline-box;
    vertical-align: middle;
}

img {
    height: auto;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}
